<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main') }}">Counter 🔢</a>

        {% if session.get('user-id') %}
            <a href="{{ url_for('profile') }}">Profile</a>
            <form action="{{ url_for('logout') }}" method="POST" class="logout-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="nav-link">Logout</button>
            </form>
        {% else %}
            <a href="{{ url_for('index') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>

    <div class="game-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>